@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap");

:root {
  --DarkCyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --DarkBlue: hsl(212, 21%, 14%);
  --DarkGray: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Fraunces", serif; */
  min-height: 100vh;
  background-color: var(--cream);
  display: grid;
  place-content: center;
}

#Product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 600px;
  margin: 1rem;
  border: 10px;
  border: none;
  background: var(--white);
  border-radius: 8px;
}
img {
  display: block;
  max-width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#Product .content {
  margin: 25px;
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1;
}
#Product .perfume {
  letter-spacing: 6px;
  color: var(--DarkGray);
  font-size: 12px;
}

#Product .text {
  color: var(--DarkGray);
  font-size: 15px;
  line-height: 1.6;
}
.price {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
#Product .discount_price {
  margin-right: 20px;
  color: var(--DarkCyan);
  font-family: "Fraunces", serif;
  font-size: 33px;
}
#Product .orignal_price {
  color: var(--DarkGray);
  font-size: 13px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: var(--DarkCyan);
  color: var(--white);
  width: 100%;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  opacity: 0.9;
}
button:active {
  opacity: 0.7;
  transition: 0.1s;
}

button::before {
  content: "";
  background: url(icon-cart.svg);
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

@media (max-width: 700px) {
  #Product {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 600px;
    margin: 1rem;
    border: 10px;
    border: none;
    background: var(--white);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  img {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 0px;
  }
}
